<nav class="topnav">
  <div class="navtitle"><a href="/"><img src="/images/cred_ldc.png" alt="Cred: Local Digital Currency"></a></div>

  <div class="navbuttons">
    <div class="user-id">
      {{#if is_admin}}
        <div class="topnav-admin">
        <a href="/admin">
          <i class="fa fa-cog" aria-hidden="true"></i> 
          Admin</a>
        </div>
      {{/if}}
      {{#if username}}
          {{!-- <user-dropdown username="{{username}}"></user-dropdown> --}}
          <div class="topnav-user">
            <a href="/user" id="user-link">
              <i class="fa fa-user-circle-o"></i>
              {{username}}
            </a>
            <div class="topnav-user-menu">
              <ul>
                <li><a href="/user/profile/{{username}}">Profile</a></li>
                {{!-- <li><a href="/user/settings">Settings</a></li> --}}
                <li><a href="/feedback">Feedback</a></li>
              </ul>
            </div>
          </div>

      {{/if}}
      {{#if loggedin}}
      <div class="alertbell">
        <i class="fa fa-bell" aria-hidden="true"></i>
        <span class="button-badge">&nbsp;</span> 
        <div class="dropdown arrow_box"></div>
      </div> 
      {{/if}}
      
    </div>


    {{!-- {{#if loggedin}}
    {{else}}
      <a href="signup"><button>Sign Up</button></a>
    {{/if}} --}}

    &nbsp;&nbsp;

   <a href="/{{#if loggedin}}signout{{else}}signin{{/if}}"><button>
      {{#if loggedin}}Sign Out{{else}}Sign In{{/if}}
    </button></a>

  </div>

</nav>
<div style="clear:both;"></div>