<h2>Bank (all coins)</h2>
<p>Bank has <strong>{{bankcount}}</strong> coins</p>
<table>
	<tr><th>id</th><th>serial</th><th>created</th><th>owner</th></tr>
	{{#each records}}
		<tr>
			<td>{{id}}</td>
			<td>{{serial_num}}</td>
			<td>{{formatted_date}}</td>
			<td>{{#if username}}{{username}}{{else}}BANK{{/if}}</td>
		</tr>
	{{/each}}
</table>
<div class="pagenav prev">
	{{#if prevpage}}
		<a href="?pg={{prevpage}}">
	{{/if}}
	&larr; Prev
	{{#if prevpage}}
		</a> 
	{{/if}}
</div>

<div class="pagenav next">
	{{#if nextpage}}
		<a href="?pg={{nextpage}}"> 
	{{/if}}
	Next &rarr;
	{{#if nextpage}}
		</a> 
	{{/if}}
</div>

<p class="pagecount">Page {{page}} of {{total_pages}}</p>