<div class="dashboard">
	<div class="row">
		<h2>Welcome</h2>
		<div class="dashboard-invite"><p><a href="/invite">Invite your friends!</a></p></div>
	</div>
	<div class="row">
		<div class="one-half column">
			<div class="row">
				<div class="four columns supercolumn">
					<div class="">
						<div class="balance-header">Balance</div>
						<balance username="{{username}}"></balance>
						<hr>
						<div class="credit">{{credit}}</div>
						<div class="credit-label">Credit Limit</div>	
					</div>
					
				</div>
				<div class="eight columns supercolumn">
					<ratio-chart spent="{{spent}}" earned="{{gained}}" size="350"></ratio-chart>
					<stats username="{{username}}"></stats>
				</div>
			</div>


		</div>

		<div class="one-half column">
				<h5>What's New</h5>
				<div class="row">
				<div class="one-half column invisible-column">
					<general-item-list type="offering"></general-item-list>
				</div>
				<div class="one-half column invisible-column">
					<general-item-list type="seeking"></general-item-list>
				</div>
			</div>

			
		</div>

	</div>
	<div class="row under-row">
		<div class="column dashboard-exchanges">
			<h5>Recent Exchanges</h5>
			<table class="dashboard-transactions transactions">
				<tr>
					<th>date</th>
					<th>to/from</th>
					<th>note</th>
					<th class="numcol">amount</th>
					<th class="numcol balcol">balance</th>
				</tr>
				{{#each ledger}}
					<tr class="{{ifNegative signed_amt 'neg' 'pos'}}">
						
						<td>{{formatted_date}}</td>
						<td>{{description}}</td>
						<td>{{note}}</td>
						<td class="amt numcol">{{signed_amt}}</td>
						<td class="numcol balcol">{{balance}}
					</tr>
				{{/each}}

			</table>
			<p class="goto-text"><a href="/user/ledger">See all exchanges &rarr;</a></p>

		<div>
	</div>
</div><!-- /dashboard -->

<!-- riot.js -->
<script src="/js/lib/riot.min.js"></script>
<script src="/js/riottags.min.js"></script>
<script>
    riot.mount('balance');
    riot.mount('stats');
    riot.mount('general-item-list');
    riot.mount('ratio-chart');

    
</script>