<div class="dashboard">
	{{#if success}}
		<p class="flash-success">{{success}}</p>
	{{/if}}

	<h2>{{greeting}}</h2>
	<div class="row">
		<div class="three columns supercolumn">
			
			<div class="subcolumn">
				<h4 class="subcolumn-heading">Balance</h4>
				<p class="balance">{{balance}}</p>
			</div>
			
		</div>
		<div class="nine columns dash-transactions">
			<h4>Recent Transactions</h4>
			<table>
				<tr><th>date</th><th>amount</th><th>description</th><th>balance</th></tr>
				{{#each ledger}}
					<tr class="{{ifNegative signed_amt 'neg' 'pos'}}">
						<td>{{formatted_date}}</td>
						<td class="amt">{{signed_amt}}</td>
						<td>{{description}}</td>
						<td>{{balance}}</td>
						
					</tr>
				{{/each}}

			</table>
			<p class="goto-text"><a href="/user/transactions">See all transactions &rarr;</a></p>

		</div>
	</div>

	<div class="row under-row">
	    <div class="one-third column" id="info1">info</div>
	    <div class="one-third column" id="info2">
	    	<p>You've made <span class="numtrans"> </span> <span class="tword">transactions</span> 
	    		with <span class="numppl"> </span> <span class="pword">people</span> total</p>
	    </div>
	    <div class="one-third column" id="info3">
	    	<h4>Recent Community Posts</h4>
	    	<div class="dashboard-posts"></div>
	    	<p class="goto-text"><a href="/messageboard">See all posts &rarr;</a></p>
	    </div>
	</div>

</div>