<link rel="stylesheet" href="/css/lib/chartist.css">
<div class="dashboard">
	<h2>Dashboard</h2>
	<div class="row">
		<div class="two columns supercolumn">
			<div class="subcolumn">
				<balance username="{{username}}" header="true"></balance>
			</div>
			<div class="subcolumn">
				<h5 class="stats">Stats</h5>
				<stats username="{{username}}"></stats>
			</div>
		</div>

		<div class="four columns">
			<h5>Exchange History</h5>
			<div class="ct-chart ct-major-sixth"></div>
			<div class="chart-label ct-series-a">&nbsp;</div> Earned {{gained}}<br>
			<div class="chart-label ct-series-b">&nbsp;</div> Spent	{{spent}}
			<!---->
		</div>


		<div class="six columns">
			<h5>Recent Exchanges</h5>
			<table class="dashboard-transactions transactions">
				<tr><th>date</th><th>amount</th><th>description</th></tr>
				{{#each ledger}}
					<tr class="{{ifNegative signed_amt 'neg' 'pos'}}">
						
						<td>{{formatted_date}}</td>
						<td class="amt">{{signed_amt}}</td>
						<td>{{description}}</td>
						
					</tr>
				{{/each}}

			</table>
			<p class="goto-text"><a href="/user/ledger">See all exchanges &rarr;</a></p>
		</div>
	</div>
</div>

<!-- chartist.js -->
<script src="/js/lib/chartist.min.js"></script>
<!-- riot.js -->
<script src="/js/lib/riot.min.js"></script>
{{!-- <script src="/js/tags/balance.js"></script>
<script src="/js/tags/stats.js"></script> --}}
<script src="/js/riottags.min.js"></script>
<script>
    riot.mount('balance');
    riot.mount('stats');

    new Chartist.Pie('.ct-chart', {
      series: [{{gained}}, {{spent}}]
    }, {
      donut: true,
      donutWidth: 60,
      donutSolid: true,
      showLabel: false
    });
</script>