<h2>Exchanges</h2>
<table class="transactions">
	<tr><th></th><th>date</th><th>amount</th><th>description</th><th>balance</th></tr>
	{{#each ledger}}
		<tr class="{{ifNegative signed_amt 'neg' 'pos'}}">
			<td>
				{{#if note}}
				&nbsp;<i class="fa fa-sticky-note-o note-icon" aria-hidden="true" id="icon-{{id}}"></i>
				{{!-- <div class="noteview" id="note-{{id}}">{{note}}</div> --}}
				{{/if}}
			</td>
			<td>{{formatted_date}}</td>
			<td class="amt">{{signed_amt}}</td>
			<td>{{description}}</td>
			<td>{{balance}}</td>
		</tr>
		<tr class="note-addition" id="note-{{id}}"><td></td><td colspan="4"><strong>Note:</strong> {{note}}</td></tr>

	{{/each}}
</table>
<div class="pagenav prev">
	{{#if prevpage}}
		<a href="?pg={{prevpage}}">
	{{/if}}
	&larr; Prev
	{{#if prevpage}}
		</a> 
	{{/if}}
</div>

<div class="pagenav next">
	{{#if nextpage}}
		<a href="?pg={{nextpage}}"> 
	{{/if}}
	Next &rarr;
	{{#if nextpage}}
		</a> 
	{{/if}}
</div>

<p class="pagecount">Page {{page}} of {{total_pages}}</p>