<h2>Transaction Ledger</h2>
<table>
	<tr><th>id</th><th>serial</th><th>created</th><th>receiver</th><th>sender</th></tr>
	{{#each records}}
		<tr>
			<td>{{id}}</td>
			<td>{{coinSerialnum}}</td>
			<td>{{createdAt}}</td>
			<td>{{receiver}}</td>
			<td>{{#if sender}}{{sender}}{{else}}BANK{{/if}}</td>
		
		</tr>
	{{/each}}

</table>