<h2>Transaction Ledger</h2>
<table>
	<tr><th>id</th><th>timestamp</th><th>amount</th><th>sender</th><th>receiver</th></tr>
	{{#each records}}
		<tr>
			<td>{{id}}</td>
			<td>{{formatted_date}}</td>
			<td>{{amount}}</td>
			<td>{{#if sender}}{{sender}}{{else}}BANK{{/if}}</td>
			<td>{{receiver}}</td>
			
		</tr>
	{{/each}}

</table>

<div class="pagenav prev">
	{{#if prevpage}}
		<a href="?pg={{prevpage}}">
	{{/if}}
	&larr; Prev
	{{#if prevpage}}
		</a> 
	{{/if}}
</div>

<div class="pagenav next">
	{{#if nextpage}}
		<a href="?pg={{nextpage}}"> 
	{{/if}}
	Next &rarr;
	{{#if nextpage}}
		</a> 
	{{/if}}
</div>

<p class="pagecount">Page {{page}} of {{total_pages}}</p>