<h2>Transaction Ledger</h2>
<table>
	<tr><th>id</th><th>timestamp</th><th>amount</th><th>sender</th><th>receiver</th></tr>
	{{#each records}}
		<tr>
			<td>{{id}}</td>
			<td>{{created_at}}</td>
			<td>{{amount}}</td>
			<td>{{#if sender}}{{sender}}{{else}}BANK{{/if}}</td>
			<td>{{receiver}}</td>
			
		</tr>
	{{/each}}

</table>