<div class="messageboard thread">
	<p><a href="/messageboard">&larr; Back to All Posts</a></p>
	<div class="postwrap orig" id="wrap-{{_id}}">
		<h2>{{title}}</h2>
		<p class="postdate orig"><em><a href="/user/profile/{{username}}">{{username}}</a></em> 
			at {{formatDate datetime 'h:mm a, ddd MMM D, YYYY'}}</p>

		<div class="postbody orig">
			{{body}}	
		</div>

		{{#if photo}}
		<div class="msgphoto">
			<img src="{{photo}}">
		</div>
		{{/if}}

		<p class="tools">
				<a href="#" title="edit" class="edit" id="edit-{{_id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
				<a href="#" title="delete" class="delete" id="delete-{{_id}}"><i class="fa fa-times" aria-hidden="true"></i></a>
		</p>
	</div>
	
	<div id="editmodal">
		<p class="modalclose"><a href="#" class="close"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a></p>
		<input type="text" name="title">
		<textarea name="message"></textarea>
		<input type="hidden" name="id">
		<button>Edit</button>
	</div>
</div>