<link rel="stylesheet" href="/css/lib/chartist.css">
<div class="profile">

	<div class="row profile-header">
		<div class="four columns">
			<h2>{{user.username}}</h2>
			Balance <balance username="{{user.username}}"></balance><br>
			<stats username="{{user.username}}"></stats>
		</div>
		<div class="eight columns">
			<div class="chart-wrap">
				<div class="chart">	
					<div class="ct-chart ct-square"></div>
				</div>
				<div class="legend">
					<div class="chart-label ct-series-a">&nbsp;</div> Earned {{gained}}<br>
					<div class="chart-label ct-series-b">&nbsp;</div> Spent	{{spent}}
				</div>
			</div>
		</div>

	</div>

	

	<div class="row under-row">
		<div class="one-third column profile-pic">
			
			{{#if user.profile_photo}}
				<img id="profile-photo" src="{{user.profile_photo}}">
			{{else}}
				<img id="profile-photo" src="/images/avatar.png">
			{{/if}}
			<div class="profile-bal">
				<balance username="{{user.username}}"></balance>
			</div>
			
			{{#equal user.username username}}
				<photo-upload url="/api/user/photo"></photo-upload>
			{{/equal}}

			{{#notequal user.username username}}
				<a href="/exchange/send?to={{user.username}}"><button class="button-primary">Pay {{user.username}}</button></a>
			{{/notequal}}
			
		</div>
		<div class="two-thirds column supercolumn">
				
			{{!-- <div class="profile-text" id="{{user_id}}"></div>
			{{#equal user.username username}}
			<p class="edit-profile"><i class="fa fa-pencil" aria-hidden="true"></i></p>
			{{/equal}} --}}

			<div class="row">
				<div class="column one-half">
					{{!-- <h4>Offering</h4>
					<ul class="offering">
						{{#if offers}}
							{{#each offers}}
								<li><a href="/community/post/{{_id}}">{{title}}</a></li>
							{{/each}}
						{{else}}
							None yet
						{{/if}}
					</ul> --}}	
					<item-list type="offering" username="{{user.username}}"></item-list>
					{{#equal user.username username}}
						<p><a href="/community/posts/new">Add &rarr;</a></p>
					{{/equal}}
				</div>

				<div class="column one-half">
					{{!-- <h4>Seeking</h4>
					<ul class="seeking">
						{{#if needs}}
							{{#each needs}}
								<li><a href="/community/post/{{_id}}">{{title}}</a></li>
							{{/each}}
						{{else}}
							None yet
						{{/if}}
					</ul> --}}
					<item-list type="seeking" username="{{user.username}}"></item-list>
					{{#equal user.username username}}
						<p><a href="/community/posts/new">Add &rarr;</a></p>
					{{/equal}}
				</div>
			</div>

		</div>
	</div>
</div>
<!-- chartist.js -->
<script src="/js/lib/chartist.min.js"></script>
<!-- riot.js -->
<script src="/js/lib/riot.min.js"></script>
{{!-- <script src="/js/tags/balance.js"></script>
<script src="/js/tags/stats.js"></script>
<script src="/js/tags/photo-upload.js"></script>
<script src="/js/tags/item-list.js"></script> --}}
<script src="/js/riottags.min.js"></script>

<script>
	var myObservable = riot.observable();
	riot.mount('balance');
	riot.mount('stats');
	riot.mount('item-list');
	riot.mount('photo-upload',{
		url: '/api/user/photo',
		observable: myObservable
	});
	myObservable.on('done',function(photo){
		$('#profile-photo').attr('src',photo);
	});
	new Chartist.Pie('.ct-chart', {
	  series: [{{gained}}, {{spent}}]
	}, {
	  /*donut: true,
	  donutWidth: 60,
	  donutSolid: true,*/
	  showLabel: false
	});
</script>