<div class="profile" id="{{profile_user}}">
	<h2>{{profile_user}}</h2>
	<div class="row">
		<div class="one-third column profile-pic">
			<img src="/images/avatar.png">
			<div class="profile-bal">
				{{balance}}
			</div>
		</div>
		<div class="two-thirds column">
			<p><strong>Balance:</strong> {{balance}} {{pluralize balance 'token' 'tokens'}}</p>
			<p>&nbsp;</p>
			<p>This is placeholder text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultricies convallis fermentum. Aenean et dui tincidunt, elementum magna at, laoreet turpis.</p>
			<p>&nbsp;</p>

			<div class="row">
				<div class="column one-half">
					<h4>Offering</h4>

					{{#equal profile_user username}}
					<div class="add-item">
						<input type="text" placeholder="Add Offering">&nbsp;
						<a href="#" id="offering">
							<i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
						</a>
					</div>
					{{/equal}}

					<ul class="offering"></ul>
					
				</div>
				<div class="column one-half">
					<h4>Seeking</h4>

					{{#equal profile_user username}}
					<div class="add-item">
						<input type="text" placeholder="Add Seeking">&nbsp;
						<a href="#" id="seeking">
							<i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
						</a>	
					</div>
					{{/equal}}

					<ul class="seeking"></ul>
					

				</div>
			</div>

		</div>
	</div>

	




</div>
