<h2>{{username}}</h2>
<p><strong>Balance:</strong> {{balance}} {{pluralize balance 'token' 'tokens'}}</p>

<h3>Transaction Ledger</h3>
<table>
	<tr><th>id</th><th>date</th><th>receiver</th><th>sender</th><th>serial</th></tr>
	{{#each ledger}}
		<tr>
			<td>{{id}}</td>
			<td>{{createdAt}}</td>
			<td>{{receiver}}</td>
			<td>{{#if sender}}{{sender}}{{else}}BANK{{/if}}</td>
			<td>{{coinSerialnum}}</td>
		</tr>
	{{/each}}

</table>
