<div class="profile" id="{{profile_user}}">
	<h2>{{profile_user}}</h2>
	<div class="row">
		<div class="one-third column profile-pic">
			<img src="/images/avatar.png">
			<div class="profile-bal">
				{{balance}}
			</div>
		</div>
		<div class="two-thirds column">
			<p><strong>Balance:</strong> {{balance}} {{pluralize balance 'token' 'tokens'}}</p>
			<p>&nbsp;</p>
			<p>This is placeholder text lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultricies convallis fermentum. Aenean et dui tincidunt, elementum magna at, laoreet turpis.</p>
			<p>&nbsp;</p>

			<div class="row">
				<div class="column one-half">
					<h4>Offering</h4>
					
					<ul class="offering">
						{{!-- <li>Web Help</li>
						<li>Vegan Cupcakes</li>
						<li>Bike Loan</li>
						<li>Gardening</li> --}}
					
					</ul>
					{{#equal profile_user username}}
					<div class="add-item">
						<input type="text">&nbsp;
						<a href="#" id="offering">
							<i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
						</a>
					</div>
					{{/equal}}
				</div>
				<div class="column one-half">
					<h4>Seeking</h4>
					<ul class="seeking">
						{{!-- <li>Cat-sitting</li>
						<li>Apartment cleaning</li>
						<li>Area Rug</li> --}}
						
					</ul>
					{{#equal profile_user username}}
					<div class="add-item">
						<input type="text">&nbsp;
						<a href="#" id="seeking">
							<i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
						</a>	
					</div>
					{{/equal}}

				</div>
			</div>

		</div>
	</div>

	




</div>
