<h2>Users</h2>
<p>{{total_entries}} users<br> <a href="/admin/users">All</a> | <a href="?inactive=1">Inactive</a></p>
<table id="users-table">
	<thead>
		<tr>
			<th>Select</th>
			<th>Username</th>
			<th>Name</th>
			<th>Active</th>
			<th>Admin</th>
			<th class="numcol">Credit</th>
			<th class="numcol">Balance</th>
		</tr>
	</thead>
	<tbody>
{{#each users}}
	<tr>
		<td><input type="checkbox" value="{{id}}" name="userid"></td>
		<td><a href="/admin/user/{{id}}">{{username}}</a></td>
		<td>{{firstname}} {{lastname}}</td>
		<td>{{#if is_active}}
			<i class="fa fa-check" aria-hidden="true"></i>
			{{/if}}
		</td>
		<td>{{#if is_admin}}
			<i class="fa fa-check" aria-hidden="true"></i>
			{{/if}}
		</td>
		<td class="numcol credit">
			<number-edit number="{{max_negative_balance}}" userid="{{id}}"></number-edit>
		</td>
		<td class="numcol">
			{{#if balance}}
				{{balance}}
			{{else}}
				0
			{{/if}}
		</td>
	</tr>
{{/each}}
</tbody>
</table>

<div class="pagenav prev">
	{{#if prevpage}}
		<a href="?pg={{prevpage}}">&larr; Prev</a> 
	{{/if}}
</div>

<div class="pagenav next">
	{{#if nextpage}}
		<a href="?pg={{nextpage}}">Next &rarr;</a> 
	{{/if}}
</div>

<p class="pagecount">Page {{page}} of {{total_pages}}</p>

<button class="button-primary" id="user-activate">Activate</button>


<script src="/js/lib/riot.min.js"></script>
<script src="/js/riottags.min.js"></script>
<script>
    riot.mount('number-edit',{
    	url: '/api/admin/user/[id]/credit'
    });
</script>