<h2>{{user.username}}</h2>

<p>Invites allotted: {{limit}}<br>
Invites used: {{used}}<br>
Invites available: {{left}}<br>
</p>

<form method="post">
	<h5>Give invites</h5>
	<label>Number</label>
	<input type="text" name="num">
	<input type="submit">
</form>
<hr>

<p>Max Negative Balance: {{maxneg}}</p>
<form method="post">
	<h5>Reset Max Negative Balance</h5>
	<label>New Max Negative</label>
	<input type="text" name="maxneg">
	<input type="submit">
</form>
